<div id="<%= dom_id student %>">
  <p>
    <strong>User:</strong>
    <%= student.user_id %>
  </p>

  <p>
    <strong>Cohort start:</strong>
    <%= student.cohort_start %>
  </p>

  <p>
    <strong>About me:</strong>
    <%= student.about_me %>
  </p>

</div>
